.footer__columns {
    width: 90%;
    display: flex;
    flex-basis: 711px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 0;
    min-height: 250px;
  }