.kaufman {
    background-color: #1f1f1f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative;
  }